#header {
	top: 0px;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	left: 0px;
	right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	/*去除边框*/
	text-align: left ;
	color: #ffffff;
	background-color: #000000;
	position: fixed;
}
/*定义标志*/
#logo{
	height: 45px;
}
#floatsymbel{
	float: left;
	height:40px;
}
/*定义用户区域*/
#usererea{
	background-color:#00ff00;
	float:right;
	height:46px;
	width:30%;
}
.users{
	float:left;
	width:20%;
}

#avatar{
}
#informs{
}
#warn{
}
/*请转移到include页面*/
#sider{
	background-color: #0D99F3;
	float: right;
	width: 20%;
	height:100%;
	
	clear: right;
	margin-left: auto;
	text-align: center;
	margin-right: auto;
}
#bodyer{
	float: top;
	width: 80%;
	height: 600px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	background-color: #AF2A2D;
	margin-top: 45px;
}
#footer{
	background-color: #53D1DC;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	z-index:inherit;
	
}

